@function r($px){
    $rem :37.5px;
    @return ($px/$rem)+rem;
}

html {
    width: 100%;
    height: 100%;
    font-size: r(14px);
}

body {
    background-image: url(../img/myshare.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: r(14px);
}

.ent {
    width:r(254px);
    height: r(45px);
    background: linear-gradient(to right,#257cff,#0b67ff);
    position: absolute;
    left: 50%;
    bottom: r(20px);
    margin-left: -(r(127px));
    border-radius: r(6px);
    border:none;
    color: #fff;
    font-size: r(14px);
}

.list{
    width: r(313px);
    position: absolute;
    top: r(280px);
    left: 50%;
    display: flex;
    align-items: center;
    margin-left: -(r(156.5px));
    background: #e9f1ff;
    padding: r(15px) 0;
    border-radius: r(6px);
    li{
        width: 33.33%;
        text-align: center;
        border-right: 1px solid #c0d8ff;
        color: #3e8cf7;
        p:nth-child(1){
            margin-bottom: r(10px);
            font-size: r(11px);
        }
        p:nth-child(2){
            font-size: r(15px);
        }
    }
    li:last-child{
        border-right:none; 
    }
}

.msg{
    position: absolute;
    top: r(250px);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: r(12px);
    letter-spacing: r(2px);
}
